
.backgorund{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1571867424485-369464ed33cc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.backgorund::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.79);
    opacity: .8;
}

.slogan{
    text-align: center;
    color: rgb(255, 232, 24);
    position: absolute;
}
